# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Legacy Backups (Don't upload the big SQL file)
*.sql

# Security
.env

# Celery
celerybeat-schedule
