{% extends 'billing/base.html' %}
{% load static %}

{% block title %}Live Monitoring (NOC){% endblock %}

{% block extra_css %}
{% include "billing/live_monitoring/_styles.html" %}
{% endblock %}

{% block content %}
<div class="dashboard-container">
    {% include "billing/live_monitoring/_hero.html" %}

    <!-- Right Column Panels -->
    <div class="right-column">
        {% include "billing/live_monitoring/_info_cards.html" %}
        
        {% include "billing/live_monitoring/_live_traffic_card.html" %}
    </div>
</div>

{% include "billing/live_monitoring/_modal_apply_addon.html" %}
{% include "billing/live_monitoring/_modal_live_chart.html" %}
{% include "billing/live_monitoring/_modal_view_all.html" %}
{% include "billing/live_monitoring/_modal_search_customer.html" %}
{% include "billing/partials/update_health_modal.html" %}

{% endblock %}

{% block extra_js %}
{% include "billing/live_monitoring/_scripts.html" %}
{% endblock %}
